#site-title {
    img {
        float: left;
        margin-top: 20px;
    }
}

#leaderboard {
    #leaders-map {
        height: 550px;
    }

    #leaders-table {
        @media only screen and (min-width: 480px) {
            #leaders-table-content {
              width: 100%;
              height: 474px;
              overflow-y: auto;
            }
        }

        select {
            width: 100%;
        }

        table {
            width: 100%;
        }

        button {
            width: 100%;
        }
    }
}
