{% extends 'sandstone/base.html' %}

{% load staticfiles %}


{% block favicon %}<link rel="shortcut icon" href="{% static "imgs/favicon.png" %}" />{% endblock %}
{% block page_title_prefix %}Mozilla Location Leaderboard - {% endblock %}
{% block page_title_suffix %}{% endblock %}

{% block site_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/grid.css" %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static "css/leaderboard.css" %}" media="screen" />
{% endblock %}

{% block site_header_logo %}
<div id="site-title">
    <a href="/" title="Mozilla Location Service">
        <img src="/static/imgs/mls-logo.png" title="Mozilla Location Service">
    </a>

    <h2>
        <a href="/">Mozilla Location Service Leaderboard</a>
    </h2>
</div>
{% endblock %}
