{% load staticfiles %}

<!DOCTYPE html>
<html class="windows no-js" lang="en" dir="ltr">
    <head>
        <!-- If you are using sandstone for a static website, you can safely delete this file -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block extra_meta %}{% endblock %}

        <title>{% block page_title_prefix %}Mozilla Location Services Leaderboard{% endblock %}{% block page_title %}{% endblock %}</title>

        {% block favicon %}<link rel="shortcut icon" href="{% static "imgs/favicon.ico" %}" />{% endblock %}
        <link rel="stylesheet" type="text/css" href="https://www.mozilla.org/tabzilla/media/css/tabzilla.css" media="screen" />

        <!--[if lte IE 8]>
        <script src="{% static "sandstone/js/libs/html5shiv.js" %}"></script>
        <![endif]-->

        <link rel="stylesheet" type="text/css" href="{% static "css/sandstone-resp.css" %}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{% static "css/leaderboard.css" %}" media="screen" />
        {% block site_css %}{% endblock %}

        {% block extrahead %}{% endblock %}
    </head>
    <!-- The four different themes of sandstone are, stone, sand, sky, space. Replace the class on the
         body tag below, with the theme you wish to use for your project -->
    <body id="sandstone" class="stone">
        <div id="outer-wrapper">
            <div id="wrapper">

                {% block site_header %}
                <header id="masthead">
                    <a href="http://www.mozilla.org/" id="tabzilla">Mozilla</a>
                    <nav id="nav-main">
                        <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">Menu</span>
                        <ul role="menu" id="nav-main-menu">
                            <li role="menuitem" class="first"><a href="https://www.mozilla.org/en-US/mission/">Mission</a></li>
                            <li role="menuitem"><a href="https://www.mozilla.org/en-US/about/">About</a></li>
                            <li role="menuitem"><a href="https://www.mozilla.org/en-US/products/">Products</a></li>
                            <li role="menuitem" class="last"><a href="https://www.mozilla.org/en-US/contribute/">Get Involved</a></li>
                        </ul>
                    </nav>

                    {% block site_header_logo %}
                    <div class="header-logo">
                        <a href="/" title="Mozilla Location Service">
                            <img src="/static/imgs/mls-logo.png" title="Mozilla Location Service">
                        </a>

                        <h2>
                            <a href="/">Mozilla<br>Location Service</a>
                        </h2>
                    </div>
                    {% endblock %}

                    {% block alt_header %}{% endblock %}

                    {% block breadcrumbs %}{% endblock %}

                </header>
                {% endblock %}

                {% block content %}{% endblock %}

            </div>

            {% block site_footer %}
            <footer id="colophon" class="">
                <nav class="row">
                    <div class="col col-1">
                        <h1 class="logo"><a href="https://mozilla.org/en-US/">Mozilla</a></h1>
                        <p class="license">Portions of this content are ©1998–2015 by individual mozilla.org contributors. Content available under a <a href="https://mozilla.org/en-US/foundation/licensing/website-content/">Creative Commons license</a>.</p>
                    </div>
                    <div class="col col-2">
                        <ul class="links-join">
                            <li><a href="https://mozilla.org/en-US/contact/spaces/">Contact Us</a></li>
                            <li class="wrap"><a href="https://mozilla.org/en-US/about/partnerships/">Partner with Us</a></li>
                            <li class="clear"><a href="https://sendto.mozilla.org/page/contribute/givenow-seq?preset=2&amp;source=mozillaorg_footer&amp;ref=EOYFR2014&amp;utm_campaign=EOYFR2014&amp;utm_source=mozilla.org&amp;utm_medium=referral&amp;utm_content=mozillaorg_footer" class="donate">Donate</a></li>
                            <li class="wrap"><a href="https://mozilla.org/en-US/contribute/friends/">Firefox Friends</a></li>
                            <li class="clear"><a href="https://wiki.mozilla.org/Webdev/GetInvolved/mozilla.org">Contribute to this site</a></li>
                        </ul>
                        <ul class="links-legal">
                            <li><a href="https://mozilla.org/en-US/privacy/">Privacy</a></li>
                            <li class="wrap"><a href="https://mozilla.org/en-US/privacy/websites/#cookies">Cookies</a></li>
                            <li class="wrap"><a href="https://mozilla.org/en-US/about/legal/">Legal</a></li>
                            <li class="clear"><a href="https://mozilla.org/en-US/about/legal/fraud-report/">Report Trademark Abuse</a></li>
                        </ul>
                    </div>
                    <div class="col col-3">
                        <ul class="links-social">
                            <li>
                                Mozilla:
                                <ul>
                                    <li><a href="https://twitter.com/mozilla">Twitter<span> (@mozilla)</span></a></li>
                                    <li><a href="https://www.facebook.com/mozilla">Facebook<span> (Mozilla)</span></a></li>
                                </ul>
                            </li>
                            <li>
                                Firefox:
                                <ul>
                                    <li><a href="https://twitter.com/firefox">Twitter<span> (@firefox)</span></a></li>
                                    <li><a href="https://www.facebook.com/Firefox">Facebook<span> (Firefox)</span></a></li>
                                    <li><a href="https://www.youtube.com/firefoxchannel">YouTube<span> (firefoxchannel)</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </footer>  

            {% endblock %}
        </div>
        <script src="https://www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
        {% block js %}
            <script src="{% static "sandstone/js/site.js" %}"></script>
        {% endblock %}
    </body>
</html>
