{% extends 'base.html' %}

{% load staticfiles %}

{% block page_title %}{% endblock %}

{% block content %}
<div class="section">
    <div id="map" class="col span_6_of_12"></div>
    <div id="leaders" class="col span_6_of_12">
        <div class="section">
            <h3>Region: <span id="leaders-region">Global</span></h3>
        </div>
        <div class="section">
            <button id="previous-button" class="button col span_3_of_12">Previous</button>
            <h3 id="leaders-count" class="center col span_6_of_12"></h3>
            <button id="next-button" class="button col span_3_of_12">Next</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Contributions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="section">
    <div class="col span_12_of_12">
        <h2>How do I contribute?</h2>

        <p>
            <a href="https://play.google.com/store/apps/details?id=org.mozilla.mozstumbler">
                <img title="Get Mozilla Stumbler on Google Play" src="/static/imgs/google_play.png"></a>

            <a href="https://f-droid.org/repository/browse/?fdid=org.mozilla.mozstumbler">
                <img title="Mozilla Stumbler available on F-Droid" src="/static/imgs/f-droid.png"></a>
        </p>

        <p>
            Mozilla Stumbler is an open-source wireless network scanner
            which collects GPS, cellular and wireless network metadata
            for our crowd-sourced location database.
        </p>

        <p>
            You can find <a href="https://github.com/mozilla/MozStumbler">
                Mozilla Stumbler on Github</a>
            to contribute to its development.
        </p>
    </div>
</div>

<div class="section">
</div>
{% endblock %}

{% block js %}
    {{ block.super }}

    {% verbatim %}
    <script id="region-template" type="text/x-handlebars-template">
        {{region}}
        {{#unless global}}
            (<a href="" class="region-global-button">Global</a>)
        {{/unless}}
    </script>

    <script id="leader-template" type="text/x-handlebars-template">
        <tr>
            <td>{{rank}}</td>
            <td>{{name}}</td>
            <td>{{observations}}</td>
        </tr>
    </script>

    <script id="leaders-count-template" type="text/x-handlebars-template">
        {{start}} - {{stop}} of {{total}}
    </script>
    {% endverbatim %}

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.1/handlebars.js"></script>
    <script src="{% static "js/build/leaderboard.js" %}"></script>
    <script>
        $(function () {
            leaderboard({
                globalUrl: '{% url "leaders-global-list" %}'
            });
        });
    </script>
{% endblock %}
