{% extends 'base.html' %}

{% load staticfiles %}

{% block page_title %}{% endblock %}

{% block content %}
<div id="leaderboard-container">
</div>

<div class="section">
    <div class="col span_12_of_12">
        <h2>How do I contribute?</h2>

        <p>
            <a href="https://play.google.com/store/apps/details?id=org.mozilla.mozstumbler">
                <img title="Get Mozilla Stumbler on Google Play" src="/static/imgs/google_play.png"></a>

            <a href="https://f-droid.org/repository/browse/?fdid=org.mozilla.mozstumbler">
                <img title="Mozilla Stumbler available on F-Droid" src="/static/imgs/f-droid.png"></a>
        </p>

        <p>
            Mozilla Stumbler is an open-source wireless network scanner
            which collects GPS, cellular and wireless network metadata
            for our crowd-sourced location database.
        </p>

        <p>
            You can find <a href="https://github.com/mozilla/MozStumbler">
                Mozilla Stumbler on Github</a>
            to contribute to its development.
        </p>
    </div>
</div>

<div class="section">
</div>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script src="{% static "lib/fetch/fetch.js" %}"></script>

    {% if debug %}
    <script src="https://fb.me/react-0.14.1.js"></script>
    <script src="https://fb.me/react-dom-0.14.1.js"></script>
    <script src="{% static "js/build/leaderboard.react.js" %}"></script>
    {% else %}
    <script src="{% static "lib/react/react-0.14.0.min.js" %}"></script>
    <script src="{% static "lib/react/react-dom-0.14.0.min.js" %}"></script>
    <script src="{% static "js/dist/leaderboard.react.js" %}"></script>
    {% endif %}


    <script>
      window.onload = function () {
        leaderboard.init({
          leafletJSUrl: '{% static "lib/leaflet/leaflet.js" %}',
          leafletCSSUrl: '{% static "lib/leaflet/leaflet.css" %}',

          countriesGeoUrl: '{% static "geojson/countries.named.geojson" %}',
          countriesInfoUrl: '{% url "countries-list" %}',
          globalLeadersUrl: '{% url "leaders-global-list" %}',
          countryLeadersUrl: '{% url "leaders-country-list" country_id="XX" %}',
          leaderProfileUrl: '{% url "leaders-profile" uid="XX" %}',
        });

        try {
          Tabzilla.disableEasterEgg()
        } catch (e) {
        }
      }
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'auto');
      ga('send', 'pageview');
    </script>
{% endblock %}
